<main class="faq__outer">

  <section class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-12 faq__block" style="background-color: #1a77ca">
      <h6> Having Trouble? </h6>
      <h4> Most Viewed Articles </h4>
      <img src="{{base_url}}images/home-icon-01.svg"/>
      <ul class="list-group">
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}tokens/adding-new-token-and-sending-custom-tokens.html"
           title="Tokens not Showing Up"
           target="_parent">
            Tokens Not Showing Up
          </a>
        </li>
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}addresses/ethereum-balance-not-loading-or-showing.html"
           title="I can't see my Token Balances"
           target="_parent">
            Cannot See Token Balances
          </a>
        </li>
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}transactions/transactions-not-showing-or-pending.html"
           title="Transaction Not Showing Up"
           target="_parent">
            Transaction Not Showing Up
          </a>
        </li>
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}gas/what-is-gas-ethereum.html"
           title="Gas &amp; Transaction Fees"
           target="_parent">
            Gas &amp; Transaction Fees
          </a>
        </li>
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/phish-hacks-thefts-and-stolen-funds-due-to-phishing.html"
           title="My coins are stolen / I did not make this transaction"
           target="_parent">
            Stolens Funds / Unknown TXs
          </a>
        </li>
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}addresses/eth-or-tokens-not-showing-on-exchange.html"
           title="Transaction says complete, but funds have not arrived"
           target="_parent">
            Transaction says 'Complete'; Funds Haven't Arrived
          </a>
        </li>
      </ul>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-12 faq__block" style="background-color: #ebb000">
      <h6> Brand New? </h6>
      <h4> Getting Started </h4>
      <img src="{{base_url}}images/home-icon-02.svg" />
      <ul class="list-group">

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/securing-your-ethereum.html"
           title="Getting Started on MyCrypto.com"
           target="_parent">
            How To Get Started
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}getting-started/creating-a-new-wallet-on-mycrypto.html"
           title="How to Create a Wallet"
           target="_parent">
            How to Create a Wallet
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}getting-started/checking-balance-of-my-account.html"
           title="Checking the Balance of Your Account"
           target="_parent">
            How to Check Your Balance
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}getting-started/getting-back-to-basics-tips-for-newbies.html"
           title="10 Tips for Newbies"
           target="_parent">
            10 Tips for Newbies
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}getting-started/ethereum-glossary.html"
           title="A Glossary of Common Terms in the Ethereum / Crypto Space"
           target="_parent">
            A Glossary of Common Terms
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}getting-started/whats-the-difference-between-an-exchange-and-mycrypto.html"
           title="The Difference Between an Exchange &amp; MyCrypto"
           target="_parent">
            The Difference Between an Exchange &amp; MyCrypto
          </a>
        </li>
      </ul>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-12 faq__block" style="background-color: #ff3603">
      <h6> Have Some Coins? </h6>
      <h4> Learn How To Be Secure</h4>
      <img src="{{base_url}}images/home-icon-03.svg" />
      <ul class="list-group">
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/securing-your-ethereum.html"
           title="Protecting Yourself and Your Funds"
           target="_parent">
            How to Secure Yourself
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}offline/running-mycrypto-locally.html"
           title="How To Run MyCrypto Offline and Locally"
           target="_parent">
            How to Run Offline / Locally
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/phish-hacks-thefts-and-stolen-funds-due-to-phishing.html"
           title="What To Do if You Had Your Funds Stolen"
           target="_parent">
            What To Do If Your Funds Are Stolen
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}hardware-wallets/hardware-wallet-recommendations.html"
           title="Using a Hardware Wallet for Additional Security"
           target="_parent">
            Use with a Hardware Wallet
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}migration/moving-from-private-key-to-metamask.html"
           title="Using MetaMask for Additional Security"
           target="_parent">
            Use with MetaMask
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/turning-on-2fa-on-mycrypto.html"
           title="MyCrypto 2FA"
           target="_parent">
            Can I turn on 2FA?
          </a>
        </li>

      </ul>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6 col-12 faq__block" style="background-color: #81CB58">
      <h6> What's Next? </h6>
      <h4> Advanced Features </h4>
      <img src="{{base_url}}images/home-icon-04.svg" />
      <ul class="list-group">
        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}security/advanced-secure-wallets-by-tomshwom.html"
           title="Advanced: Creating a Secure, Offline Wallet"
           target="_parent">
            Creating a Secure, Offline Wallet
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}addresses/creating-new-accounts-for-eth-and-tokens.html"
           title="Should I Keep My ETH / Tokens on Single or Multiple Addresses?"
           target="_parent">
            Using Single or Multiple Addresses
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}migration/moving-from-private-key-to-ledger-hardware-wallet.html"
           title="Using Ledger Hardware Wallet with MyCrypto"
           target="_parent">
            Using Ledger Hardware Wallet
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}migration/moving-from-private-key-to-trezor-hardware-wallet.html"
           title="Moving from MyCrypto to TREZOR"
           target="_parent">
            Using TREZOR Hardware Wallet
          </a>
        </li>

        <li class="faqs__item">
          <a class="list-group-item list-group-item-action"
           href="{{base_url}}offline/sending-offline-with-mycrypto.html"
           title="How Can MyCrypto Send Offline?"
           target="_parent">
            How Can MyCrypto Send Offline?
          </a>
        </li>
      </ul>
    </div>


  </section>

</main>
