<div id="share-buttons">

    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u={{base_url}}{{cat_slug}}/{{slug}}" target="_blank">
        <img src="../images/logos/facebook.png" alt="Facebook" />
    </a>

    <!-- Google+ -->
    <a href="https://plus.google.com/share?url={{base_url}}{{cat_slug}}/{{slug}}" target="_blank">
        <img src="../images/logos/googleplus.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{base_url}}{{cat_slug}}/{{slug}}" target="_blank">
        <img src="../images/logos/linkedin.png" alt="LinkedIn" />
    </a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url={{base_url}}{{cat_slug}}/{{slug}}" target="_blank">
        <img src="../images/logos/twitter.png" alt="Twitter" />
    </a>

</div>
