{{> head}}

<body class="single page">

{{> schema-single}}
{{> schema-single-crumbs}}
{{> schema-org}}

{{> header}}

<!-- Main -->
<main class="container-lg" id="{{slug}}">

  <nav class="breadcrumbs">
    <a class="breadcrumbs__home" href="{{base_url}}">
      Home
    </a>
    ›
    <a class="breadcrumbs__category" href="{{base_url}}{{cat_slug}}/">
      {{ cat_title }}
    </a>
    ›
    <span class="breadcrumbs__category">{{ title }}</span>
  </nav>

  <article class="page__content" itemscope itemtype="http://schema.org/Article">

    <h1 class="page__title" itemprop="headline">{{ title }}</h1>

    <div class="page__article">
      {{{ content }}}
    </div>

  </article>

  <br />
  <hr />
  <br />

  <section class="row">

    <div class="col sharing">
      <p>{{> sharing-buttons}}</p>
      <p>Last Updated: {{ date_modified }}</p>
    </div>


    <div class="col">
      <p>
        <a href="https://github.com/MyCryptoHQ/support.mycrypto.com/blob/master/src/content/{{cat_slug}}/{{slug}}.md" target="_blank" rel="noopener noreferrer">
          Want to Improve This Article? It's Easy! →
        </a>
      </p>
      <p>
        <a href="{{base_url}}diving-deeper/how-to-submit-pull-request.html" target="_blank" rel="noopener noreferrer">
          How to Submit a Pull Request →
        </a>
      </p>
    </div>

  </section>

  <hr />

</main>

{{> footer-pre}}

{{> footer}}

</body>

</html>
